@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

header {
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("../../assets/header_efeito.png");
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.75rem;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      gap: 5rem;
      display: flex;
      align-items: center;
      font-size: 3.5rem;

      a {
        color: #fff;
      }
    }
  }
}