footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  .footer_nav_left {
    ul {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  .footer_section_center {
    text-align: center;
    color: #fff;
  }

  .footer_section_right {
    img {
      height: 7rem;
    }
  }
}